%header#masthead.masthead
  %h1.heading--masthead Guiceworks.
  %h2.heading--masthead A fight to rid the world of poor design.
  %button#about_trigger.guicicon.guicicon--arrow--down(href="#about")
  %div#about.masthead__content.markdown.js-collapse
    = render partial: "main/partials/masthead_copy"


%nav#cards.cards
  -(@cards.tiles).each_with_index do |card, i|
    :ruby
      presenter = CardPresenter.new(card)
      id = presenter.id(i)
      type = presenter.type
      pathname = presenter.pathname
      title = presenter.title
      bgi = presenter.background_image? ? "background-image: url(#{asset_path(presenter.background_image)});" : nil

    %div.card(id="card_#{id}" class="card__#{type}" data-index="#{i}" data-id="#{id}" style="#{bgi}")
      %header.card__header
        - if presenter.icon?
          %div.card__icon(class="guicicon--#{presenter.icon}")
        %h3.title= title
        - if presenter.subtitle?
          %h3.subtitle= presenter.subtitle

      %div.js_panel_contents.hidden
        %article.pane(id="pane_#{id}" class="pane__#{type}" data-index="#{i}" data-id="#{id}")
          - if presenter.icon?
            %div.panel__icon(class="guicicon--#{presenter.icon}")

          %header.pane__header.markdown
            = render partial: "main/partials/#{pathname}"

          %div.pane__figures
            -['#f1f1f2', '#e6e7e8', '#f1f1f2', '#e6e7e8'].each do |bgc|
              %div.fpo(style="background-color: #{bgc};")<>


%section#panel.panel.js-collapse
  %div.panel__toolbar
    %button#panel_dismiss.panel__dismiss.guicicon.guicicon--x(href="#panel")
  %div#pane_container.pane__container

