%header#masthead.masthead
  %h1.heading--masthead Guiceworks.
  %h2.heading--masthead A fight to rid the world of poor design.
  %button.guicicon.guicicon--arrow--down(href="#about" data-bindable="collapse")
  %div#about.masthead__content.markdown.js-collapse
    = render partial: "main/masthead_copy"



%nav#cards.cards
  -(@cards.tiles).each_with_index do |card, i|
    :ruby
      id = @cards.id(card, i)
      type = @cards.type(card)
      title = @cards.title(card)

    %div.card(id="card_#{id}" class="card__#{type}" data-index="#{i}" data-id="#{id}")
      %header.card__header
        %h3.title= title
        %h3.title= id

      %div.js_card_contents.hidden
        %article.pane(id="pane_#{id}" class="pane__#{type}" data-index="#{i}" data-id="#{id}")
          %header.pane__header
            %h1.heading #{title} #{i}
            %h2.heading--sub Service Offering, Another Service, Third Service
            %p <strong>Challenge:</strong> #{ipsum(4)}
            %p <strong>Solution:</strong> #{ipsum(4)}
          %div.panel__figures
            -['#f1f1f2', '#e6e7e8', '#f1f1f2'].each do |bgc|
              %div.fpo(style="background-color: #{bgc};")<>


%section#panel.panel.js-collapse.in
  %div.panel__toolbar
    %button.panel__dismiss.guicicon.guicicon--x.active(href="#panel" data-bindable="collapse")
  %div#pane_container.pane__container

    %article.pane
      %header.pane__header
        %h1.heading Client Name
        %h2.heading--sub Service Offering, Another Service, Third Service
        %p <strong>Challenge:</strong> #{ipsum(4)}
        %p <strong>Solution:</strong> #{ipsum(4)}
      %div.panel__figures
        -['#f1f1f2', '#e6e7e8', '#f1f1f2'].each do |bgc|
          %div.fpo(style="background-color: #{bgc};")<>

